<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB687zlImdNwVHKHNH_DnontVLX9yeRPBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>855792020273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kia.kiaApp</string>
	<key>PROJECT_ID</key>
	<string>kids-aa79a</string>
	<key>STORAGE_BUCKET</key>
	<string>kids-aa79a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855792020273:ios:5960227d2b680581841e10</string>
</dict>
</plist>